body,html{
    width: 100%;
    height: 100%;
    background-color: #50394c;
    position: relative;
    color:white;
}

.word{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 2rem;
}

.char{
    margin: 1rem 1rem;
    padding: 0 1rem;
    border-bottom: 3px solid white;
    font-size: 2rem;
}

.hide{
    visibility: hidden;
}

.main{
    width: 100%;
    height: 75%;
    display: flex;
}

.shape{
    width: 60%;
    height: 100%;
    position: relative;
    text-align: center;
}

hr{
    opacity: 1;
}

.floor{
    width: 25%;
    text-align: center;
    bottom: 8%;
    left: 30%;
}

.tall{
    left: 30%;
    height: 70%;
    bottom: 8%;
}

.ceil{
    width: 20%;
    text-align: center;
    top: 16%;
    left: 30%;
}

.hook{
    left: 50%;
    height: 10%;
    top: 16%;
}

.head{
    left: 45.5%;
    top: 26%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.tall2{
    left: 50%;
    height: 25%;
    top: 36%;
}

.leftArm{
    left: 48%;
    height: 8%;
    top: 39%;
    transform: rotate(55deg);
}

.rightArm{
    left: 52%;
    height: 8%;
    top: 39%;
    transform: rotate(-55deg);
}

.leftLeg{
    left: 48%;
    height: 8%;
    bottom: 27%;
    transform: rotate(55deg);
}

.rightLeg{
    left: 52%;
    height: 8%;
    bottom: 27%;
    transform: rotate(-55deg);
}

.line{
    border: 4px solid  #ffef96;
    position: absolute;
}

.wrongLetters{
    padding-top: 5.5rem;
    width: 40%;
}

.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.warning{
    top:.6rem;
    padding: 5px;
    border-radius: 5px;
    background-color: brown;
    visibility: hidden;
    min-width: 250px;
    text-align: center;
    border-radius: 2px;
    position: fixed;
}

.warning.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }  
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: .6rem; opacity: 1;}
  }
  
  
  @keyframes fadeout {
    from {top: .6rem; opacity: 1;}
    to {top: 0; opacity: 0;}
  }

  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: .6rem; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: .6rem; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #ff0000;
    margin: auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    align-items: center;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  